<div class="alert alert-block alert-success">
    
# FIT5196 Task 1 in Assessment 1
#### Student Name: Deshui Yu
#### Student ID: 34253599

Date: 21/08/2024


Environment: Python xxxx

Libraries used:
* re (for regular expression, installed and imported) 
* pandas (for data manipulation) 
    
</div>

<div class="alert alert-block alert-danger">
    
## Table of Contents

</div>    

[1. Introduction](#Intro) <br>
[2. Importing Libraries](#libs) <br>
[3. Examining Patent Files](#examine) <br>
[4. Loading and Parsing Files](#load) <br>
$\;\;\;\;$[4.1. Defining Regular Expressions](#Reg_Exp) <br>
$\;\;\;\;$[4.2. Reading Files](#Read) <br>
$\;\;\;\;$[4.3. Whatever else](#latin) <br>
[5. Writing to CSV/JSON File](#write) <br>
$\;\;\;\;$[5.1. Verification - using the sample files](#test_xml) <br>
[6. Summary](#summary) <br>
[7. References](#Ref) <br>

-------------------------------------

<div class="alert alert-block alert-warning">

## 1.  Introduction  <a class="anchor" name="Intro"></a>
    
</div>

This assessment regards extracting data from semi-sctuctured text files. The dataset contained 500 `.txt` files which included various information about user reviews. In particular, ....

-------------------------------------

<div class="alert alert-block alert-warning">
    
## 2.  Importing Libraries  <a class="anchor" name="libs"></a>
 </div>

The packages to be used in this assessment are imported in the following. They are used to fulfill the following tasks:

* **re:** to define and use regular expressions
* **pandas:** ...
* ...

In [14]:
import re
import pandas
# My assignment is running locally, and I have already downloaded the data to my local system, so I don't need to link to Google Drive.
# from google.colab import drive
# drive.mount('/content/drive')

-------------------------------------

<div class="alert alert-block alert-warning">

## 3.  Examining Raw Data <a class="anchor" name="examine"></a>

 </div>

First of all, ....

Having examined the file content, the following observations were made:

-------------------------------------

<div class="alert alert-block alert-warning"> 

## 4.  Loading and Parsing Files <a class="anchor" name="load"></a>

</div>

In this section, the files are parsed and processed. First of all, appropriate regular expressions are defined to extract desired information when reading the files. ....

-------------------------------------

<div class="alert alert-block alert-info">
    
### 4.1. Defining Regular Expressions <a class="anchor" name="Reg_Exp"></a>

Defining correct regular expressions is crucial in extracting desired information from the text efficiently. ...

In [15]:
import pandas as pd

# the file path
text_path = './student_group181'

all_text_data = ""

# 文件名列表
file_names = [
    'group181_0.txt', 'group181_1.txt', 'group181_2.txt', 'group181_3.txt', 
    'group181_4.txt', 'group181_5.txt', 'group181_6.txt', 'group181_7.txt', 
    'group181_8.txt', 'group181_9.txt', 'group181_10.txt', 'group181_11.txt',
    'group181_12.txt', 'group181_13.txt', 'group181_14.txt'
]

# 逐个读取每个文件
for file_name in file_names:
    file_path = f"{text_path}/{file_name}"
    with open(file_path, 'r', encoding='utf-8') as file:
        content = file.read()
        all_text_data += content  # 将内容拼接起来
        
split_txt = '?xml version="1.0" encoding="UTF-8"?>'
final_split= '</dataset><record>|<dataset><record>'

#通过split_txt，把内容切分成不同文件的部分
folder_text = all_text_data.split(split_txt)
# #删除第一个的空数值
if folder_text[0] == "":
    folder_text.pop(0)

#建立一个list，使用for循环便利folder_text，按照每个用户进行分割储存
final_split_text = []
for text in folder_text:
    slipted_info = re.split(final_split,text)
    final_split_text.extend(slipted_info)

In [16]:
user_id_expression = r"<[^>]*?ser[^>]*?>\s*(\d{21})\s*<[^>]*?/[^>]*?ser[^>]*?>"

time_expression = r"(?:<.{1,3}ime\s*/?>\s*|<.{0,2}[Dd]ate\s*/?>\s*)(\d+)(?:\s*<\s*/\s*.{1,3}ime\s*/?>|<\s*/\s*.{0,2}[Dd]ate\s*/?>)"

#这里我没有修改(就加入了一个大小写，需要再次修改)
rate_expression = r"(?:<.{0,2}[Rr]ate>\s*)(\d+)(?:<.{0,2}[Rr]ate>)"
rateing_expression = r"(?:<.{0,2}[Rr]ating>\s*)(\d+)(?:<.{0,2}[Rr]ating>)"

text_expression = r"(?:<.{0,3}[Tt]ext>\s*)(.*?)(?:<.{0,3}[Tt]ext>)"
review_expression = r"(?:<.{0,2}[Rr]eview>\s*)(.*?)(?:<.{0,2}[Rr]eview>)"
name_expression = r"(?:<.{0,7}[Nn]ame>\s*)(.*?)(?:<.{0,7}[Nn]ame\s*>)"
# #改了一些，可以在修改
response_expression = r"(?:<.{0,3}[Rr]esp.{0,4}>\s*)(.*?)(?:<.{0,3}[Rr]esp.{0,4}>)"
picture_expression = r"(?:<.{0,2}[Pp]ic.{1,5}>\s*)(.*?)(?:<.{0,2}[Pp]ic.{1,5}>)"

gmap_id_expression=r"(?:<.{0,2}[Gg]map.{1,3}>\s*)(.*?)(?:<.{0,2}[Gg]map.{1,3}>)"

In [17]:
# 测试0.txt数据
try_date = folder_text[0]
text_date = []
test_user_id_pattern = re.compile(r"<[^>]*?ser[^>]*?>\s*(\d{21})\s*<[^>]*?/[^>]*?ser[^>]*?>", re.DOTALL)
test_user_id_matches = test_user_id_pattern.findall(try_date)
text_date.extend(test_user_id_matches)
len(text_date)

4716

In [18]:
rate_pattern = re.compile(rate_expression, re.DOTALL)
rateing_pattern = re.compile(rateing_expression, re.DOTALL)
rate_list = []
for i in final_split_text:
    time = rate_pattern.findall(i)
    if not time:
        time = rateing_pattern.findall(i)
    
    rate_list.extend(time)
    
print(len(rate_list))

44697

In [72]:
user_id_list = []
gmap_id_list = []
time_list = []
date_list = []
rate_list = []
review_list = []
response_list = []
picture_list = []
name_list = []

user_id_pattern = re.compile(user_id_expression, re.DOTALL)
gmap_id_pattern = re.compile(gmap_id_expression, re.DOTALL)
time_pattern = re.compile(time_expression, re.DOTALL)

rate_pattern = re.compile(rate_expression, re.DOTALL)
rateing_pattern = re.compile(rateing_expression, re.DOTALL)

text_pattern = re.compile(text_expression, re.DOTALL)
review_pattern = re.compile(review_expression, re.DOTALL)

response_pattern = re.compile(response_expression, re.DOTALL)
picture_pattern = re.compile(picture_expression, re.DOTALL)
name_pattern = re.compile(name_expression,re.DOTALL)


#处理现在总的list数据，通过正则表达式提取需要的数据
for text in final_split_text:
     
     user_id_matches = user_id_pattern.findall(text)
     user_id_list.extend(user_id_matches)
     
     gmap_id_matches = gmap_id_pattern.findall(text)
     gmap_id_list.extend(gmap_id_matches)
     
     time_matches = time_pattern.findall(text)
     time_list.extend(time_matches)
     
     rate_matches = rate_pattern.findall(text)
     if not rate_matches:
        rate_matches = rateing_pattern.findall(text)
     rate_list.extend(rate_matches)
     
     review_matches = review_pattern.findall(text)
     if not review_matches:
        review_matches = text_pattern.findall(text)
     review_list.extend(review_matches)
     
     response_matches = response_pattern.findall(text)
     response_list.extend(response_matches)
     
     picture_matches = picture_pattern.findall(text)
     picture_list.extend(picture_matches)
     
     
     name_matches = name_pattern.findall(text)
     name_list.extend(name_matches)

text_datafram = pd.DataFrame({
    'user_id': user_id_list,
    'name':name_list,
    'time': time_list,
    'rating': rate_list,
    'text': review_list,
    'pics': picture_list,
    'resp': response_list,
    'gmap_id': gmap_id_list
})

text_datafram = text_datafram[['user_id', 'name', 'time', 'rating', 'text', 'pics', 'resp','gmap_id']]

text_datafram['time'] = pd.to_datetime(text_datafram['time'], unit ='ms', utc = True)
text_datafram['time'] = text_datafram['time'].dt.strftime("%Y-%m-%d %H:%M:%S")

text_datafram = text_datafram.replace('None', None)
if_pic = []
if_response = []
for index, row in text_datafram.iterrows():
    # 如果 'pics' 列为 None，添加 'N'，否则添加 'Y'
    if row['pics'] is None:
        if_pic.append('N')
    else:
        if_pic.append('Y')
    
    # 如果 'resp' 列为 None，添加 'N'，否则添加 'Y'
    if row['resp'] is None:
        if_response.append('N')
    else:
        if_response.append('Y')
text_datafram['if_pic'] = if_pic
text_datafram['if_response'] = if_response

text_datafram['rating'] = text_datafram['rating'].astype(float)
text_datafram

C:\Users\51196\AppData\Local\Temp\ipykernel_32092\3423422888.py:71: FutureWarning: The behavior of 'to_datetime' with 'unit' when parsing strings is deprecated. In a future version, strings will be parsed as datetime strings, matching the behavior without a 'unit'. To retain the old behavior, explicitly cast ints or floats to numeric type before calling to_datetime.
  text_datafram['time'] = pd.to_datetime(text_datafram['time'], unit ='ms', utc = True)

,user_id,name,time,rating,text,pics,resp,gmap_id,if_pic,if_response
0,103499789493991350231,Alyson Hoffman,2021-06-01 04:57:49,5.0,Booked last minute rentals here over Memorial ...,None,None,0x808e6a7f6b666d4f:0xfd9214abe1df3a4d,N,N
1,105404622065259965715,OnlyOneEarth,2021-03-21 07:59:56,5.0,"When I went into Epicenter Cycling, I was look...",[{'url': ['https://lh5.googleusercontent.com/p...,"{'time': 1616349255531, 'text': ""We're so happ...",0x808e6a7f6b666d4f:0xfd9214abe1df3a4d,Y,Y
2,118347770680889723845,matthew thomson,2021-04-11 15:44:41,5.0,Amazing selection of Trek bikes! We were told ...,None,"{'time': 1622404153725, 'text': ""Thanks for ta...",0x808e6a7f6b666d4f:0xfd9214abe1df3a4d,N,Y
3,109541606733835908756,Becky B,2021-03-15 15:42:06,5.0,"Absolutely flawless experience ordering, sizin...",[{'url': ['https://lh5.googleusercontent.com/p...,"{'time': 1616264680468, 'text': 'Thank you so ...",0x808e6a7f6b666d4f:0xfd9214abe1df3a4d,Y,Y
4,108792737827746934756,Tiffany Klitzke,2021-02-02 18:00:03,5.0,All of the employees were so friendly and help...,None,"{'time': 1614824613439, 'text': ""Thank you so ...",0x808e6a7f6b666d4f:0xfd9214abe1df3a4d,N,Y
...,...,...,...,...,...,...,...,...,...,...
44692,112497754617102655494,Bernard Janov,2020-05-21 18:56:48,5.0,None,None,None,0x80dbfe36c3b7a2c7:0x8e10768a0238d2b9,N,N
44693,112173222860157032040,Ernest Ikei,2019-06-07 00:44:22,5.0,None,None,None,0x80dbfe36c3b7a2c7:0x8e10768a0238d2b9,N,N
44694,105511521957721541111,Randall Rolfe,2020-09-01 23:44:36,5.0,None,None,"{'time': 1613606949222, 'text': 'Thank you, Ra...",0x80dbfe36c3b7a2c7:0x8e10768a0238d2b9,N,Y
44695,104981526115446298575,Donna Nagel,2020-10-15 19:59:21,5.0,None,None,"{'time': 1613605845348, 'text': 'Thank you for...",0x80dbfe36c3b7a2c7:0x8e10768a0238d2b9,N,Y
44696,113663712050490880120,Irenio Macagba,2020-09-26 16:02:32,5.0,None,None,"{'time': 1615227790162, 'text': 'Thank you, Ir...",0x80dbfe36c3b7a2c7:0x8e10768a0238d2b9,N,Y

In [73]:
from datetime import datetime

xls_path = "./student_group181/group181.xlsx"

xls = pd.ExcelFile(xls_path)
all_sheets = pd.read_excel(xls_path, sheet_name=None)
cleaned_sheets = []
for sheet_name, df in all_sheets.items():
    # 去除空的行
    df = df.dropna(how='all')
    # 去除空的列
    df = df.dropna(axis=1, how='all')
    # 仅在DataFrame有数据时，添加到清理后的列表中
    if not df.empty:
        cleaned_sheets.append(df)

# 将所有清理后的DataFrame合并为一个
xls_data = pd.concat(cleaned_sheets, ignore_index=True)
xls_data = xls_data[['user_id', 'name', 'time', 'rating', 'text', 'pics', 'resp','gmap_id']]
#转化时间格式
xls_data['time'] = pd.to_datetime(xls_data['time'], unit ='ms', utc = True)
#将time列格式化为字符串格式
xls_data['time'] = xls_data['time'].dt.strftime("%Y-%m-%d %H:%M:%S")

xls_data['pics'] = xls_data['pics'].where(pd.notna(xls_data['pics']), None)
xls_data['resp'] = xls_data['resp'].where(pd.notna(xls_data['resp']), None)

if_pic_xls = []
if_response_xls = []
for index, row in xls_data.iterrows():
    # 如果 'pics' 列为 None，添加 'N'，否则添加 'Y'
    if row['pics'] is None:
        if_pic_xls.append('N')
    else:
        if_pic_xls.append('Y')
    
    # 如果 'resp' 列为 None，添加 'N'，否则添加 'Y'
    if row['resp'] is None:
        if_response_xls.append('N')
    else:
        if_response_xls.append('Y')

xls_data['if_pic'] = if_pic_xls
xls_data['if_response'] = if_response_xls

xls_data

combined_data = pd.concat([xls_data, text_datafram], axis=0)
print(combined_data.info())

combined_data

<class 'pandas.core.frame.DataFrame'>
Index: 46479 entries, 0 to 44696
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   user_id      46479 non-null  object
 1   name         46479 non-null  object
 2   time         46479 non-null  object
 3   rating       46479 non-null  float64
 4   text         24738 non-null  object
 5   pics         896 non-null    object
 6   resp         4788 non-null   object
 7   gmap_id      46479 non-null  object
 8   if_pic       46479 non-null  object
 9   if_response  46479 non-null  object
dtypes: float64(1), object(9)
memory usage: 3.9+ MB
None

,user_id,name,time,rating,text,pics,resp,gmap_id,if_pic,if_response
0,117547450879418399308,Elizabeth Santiago,2021-01-27 14:22:58,2.0,Extremely inhumane...that's how these people m...,None,None,0x80ea6992ca7cd91f:0xb0a098c869f2e8eb,N,N
1,105343328635393398077,michael britt,2021-02-12 19:17:37,1.0,This guy with tattos on both arms was extremel...,None,None,0x80ea6992ca7cd91f:0xb0a098c869f2e8eb,N,N
2,110224938425929427087,Jerome “Ray Cyrus” Vonloodwig,2021-01-14 19:56:47,1.0,If you are forced to come here for worksman co...,None,None,0x80ea6992ca7cd91f:0xb0a098c869f2e8eb,N,N
3,111601567646818950873,Karla Huling,2020-10-07 17:20:37,1.0,HORRIBLE CLINIC. DO NOOOT GO HERE! I REPEAT DO...,None,None,0x80ea6992ca7cd91f:0xb0a098c869f2e8eb,N,N
4,100829865257284707673,Moore Family,2021-02-26 21:10:26,1.0,If i could leave a 0 stars for this place I wo...,None,None,0x80ea6992ca7cd91f:0xb0a098c869f2e8eb,N,N
...,...,...,...,...,...,...,...,...,...,...
44692,112497754617102655494,Bernard Janov,2020-05-21 18:56:48,5.0,None,None,None,0x80dbfe36c3b7a2c7:0x8e10768a0238d2b9,N,N
44693,112173222860157032040,Ernest Ikei,2019-06-07 00:44:22,5.0,None,None,None,0x80dbfe36c3b7a2c7:0x8e10768a0238d2b9,N,N
44694,105511521957721541111,Randall Rolfe,2020-09-01 23:44:36,5.0,None,None,"{'time': 1613606949222, 'text': 'Thank you, Ra...",0x80dbfe36c3b7a2c7:0x8e10768a0238d2b9,N,Y
44695,104981526115446298575,Donna Nagel,2020-10-15 19:59:21,5.0,None,None,"{'time': 1613605845348, 'text': 'Thank you for...",0x80dbfe36c3b7a2c7:0x8e10768a0238d2b9,N,Y
44696,113663712050490880120,Irenio Macagba,2020-09-26 16:02:32,5.0,None,None,"{'time': 1615227790162, 'text': 'Thank you, Ir...",0x80dbfe36c3b7a2c7:0x8e10768a0238d2b9,N,Y

In [ ]:
attributes_pattern = re.compile("<.{1,10}>")
attributes = attributes_pattern.findall(all_text_data)

list_values = list(set(attributes))

date_attributes = []
for attr in list_values:
  if 'date' in attr.lower():
    date_attributes.append(attr)

# date_attributes


time_attributes = []
for attr in list_values:
  if 'time' in attr.lower():
    time_attributes.append(attr)

time_attributes

['<time>',
 '<//time>',
 '< /time>',
 '< time>',
 '<//Time>',
 '< Time>',
 '<Time>',
 '</Time>',
 '</time>',
 '< /Time>']

In [ ]:
print(text_datafram.head())
print(text_datafram.info())
print(text_datafram.info())

                 user_id             name           time rating  \
0  103499789493991350231   Alyson Hoffman  1622523469987      5
1  105404622065259965715     OnlyOneEarth  1616313596636      5
2  118347770680889723845  matthew thomson  1618155881302      5
3  109541606733835908756          Becky B  1615822926221      5
4  108792737827746934756  Tiffany Klitzke  1612288803586      5

                                                text  \
0  Booked last minute rentals here over Memorial ...
1  When I went into Epicenter Cycling, I was look...
2  Amazing selection of Trek bikes! We were told ...
3  Absolutely flawless experience ordering, sizin...
4  All of the employees were so friendly and help...

                                                pics  \
0                                               None
1  [{'url': ['https://lh5.googleusercontent.com/p...
2                                               None
3  [{'url': ['https://lh5.googleusercontent.com/p...
4                                               None

                                                resp  \
0                                               None
1  {'time': 1616349255531, 'text': "We're so happ...
2  {'time': 1622404153725, 'text': "Thanks for ta...
3  {'time': 1616264680468, 'text': 'Thank you so ...
4  {'time': 1614824613439, 'text': "Thank you so ...

                                 gmap_id
0  0x808e6a7f6b666d4f:0xfd9214abe1df3a4d
1  0x808e6a7f6b666d4f:0xfd9214abe1df3a4d
2  0x808e6a7f6b666d4f:0xfd9214abe1df3a4d
3  0x808e6a7f6b666d4f:0xfd9214abe1df3a4d
4  0x808e6a7f6b666d4f:0xfd9214abe1df3a4d
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44697 entries, 0 to 44696
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  44697 non-null  object
 1   name     44697 non-null  object
 2   time     44697 non-null  object
 3   rating   44697 non-null  object
 4   text     44697 non-null  object
 5   pics     44697 non-null  object
 6   resp     44697 non-null  object
 7   gmap_id  44697 non-null  object
dtypes: object(8)
memory usage: 2.7+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44697 entries, 0 to 44696
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  44697 non-null  object
 1   name     44697 non-null  object
 2   time     44697 non-null  object
 3   rating   44697 non-null  object
 4   text     44697 non-null  object
 5   pics     44697 non-null  object
 6   resp     44697 non-null  object
 7   gmap_id  44697 non-null  object
dtypes: object(8)
memory usage: 2.7+ MB
None

These patterns are used in the next step when reading the files.

-------------------------------------

<div class="alert alert-block alert-info">
    
### 4.2. Reading Files <a class="anchor" name="Read"></a>

In this step, all files are read and parsed.

Let's take a look at the first ten elements of the lists generated. We can see that ids, reviews,etc. are parsed and stored correctly.

-------------------------------------

<div class="alert alert-block alert-info">
    
### 4.3. Whatever else <a class="anchor" name="latin"></a>

the rest of your methodology

-------------------------------------

<div class="alert alert-block alert-warning"> 

## 5.  Writing to JSON File <a class="anchor" name="write"></a>

</div>

....

-------------------------------------

<div class="alert alert-block alert-info">
    
### 5.1. Verification of the Generated JSON File <a class="anchor" name="test_xml"></a>

<div class="alert alert-block alert-warning"> 

## 6. Summary <a class="anchor" name="summary"></a>

</div>

....

-------------------------------------

....

-------------------------------------

<div class="alert alert-block alert-warning"> 

## 7. References <a class="anchor" name="Ref"></a>

</div>



[1]<a class="anchor" name="ref-2"></a> Why do I need to add DOTALL to python regular expression to match new line in raw string, https://stackoverflow.com/questions/22610247, Accessed 30/08/2022.

....

## --------------------------------------------------------------------------------------------------------------------------